<%= form_for(@profile, url: avatar_crop_path, html: { method: :put}) do |f| %>


  <div class="field">
    <%= f.cropbox :avatar, :width => 300 %>
    <!-- <%= f.crop_preview :avatar, :width => 100 %> -->
  </div>

  <div class="actions">
    <%= f.submit 'Crop image' %>
  </div>
<% end %>
