<%- if resource.errors[:email].empty? %>
  $('input[type="submit"]').prop('value', "发送成功");
  $('input[type="submit"]').prop('disabled', true);
<%- else %>
  $('#prompt').append("<label class='error server'><%= resource.errors[:email][0] %></label>");
  $('#user_email').focus(function(){
    $('.error.server').hide();
  });
<%- end %>
