// Typography
$chinese: Roboto,"Helvetica Neue","Segoe UI",Verdana,Tahoma,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
$base-font-family: $chinese;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$smaller-font-size: 0.875em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 2px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$red:#df3f3f;
$red-dark: shade($red, 20%);

$orange:#FD984E;
$orange-dark: shade($orange, 20%);

$blue:#6DBCDB;
$blue-dark: shade($blue, 20%);

$dark:#4d4d4d;
$dark-dark: shade($dark, 20%);

$light:#f2f2f2;
$light-dark: shade($light, 20%);

// COLOR CODE
$themecolor: $red;
$secondarycolor:$orange;
$thirdcolor:$blue;

//CLEARN BELOW
$light-gray: #f2f2f2;
$medium-gray: #8c8c8c;
$dark-gray: #2e303a;
//CLEARN ABOVE



// Font Colors
$action-color: $red;
$base-font-color: $dark;
$link-color: $blue;

// Border
$base-border-color: shade($light-gray, 10%);
$base-border-size: em(2);
$base-border: $base-border-size solid $base-border-color;


// Background Colors
$base-background-color: $light;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// shadow
$base-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);

// Modulear Scale
$ms-base: 0.825em;
$ms-ratio: 1.2;

