<h1>My Images</h1>

<%= form_for(ProductImage.new, html: { multipart: true, class: "dropzone"}) do |f|  %>
  <div class="fallback">
    <%= f.file_field :image %><br>
    <%= f.submit "Upload my image" %>
  </div>
<% end %>

<div class="index">
  <%= render "index" %>
</div>
