<h1>Cropper</h1>
<a href="#" data-featherlight="#testcrop">Open element in lightbox</a>

<div id='lightboxhide' style="display: none;">
  <div id="testcrop">
    <%= image_tag("menuad.png", id: "image") %>
  </div>
</div>

<script>
$().ready(function(){
  $('#image').cropper({
    aspectRatio: 1 / 1,
    crop: function(e) {
    }
  });
});
</script>
