.footer
  background-color: $dark-gray
  padding: 1em 0 8em 0
  color: $light-gray
  .brand
    img
      width: 140px
      margin-top: -1em
    +span-columns(3)
  .footerlist
    +span-columns(3)
    ul li
      font-size: 0.875em
      line-height: $base-line-height * 1.5
      +link-color-fixer($light-gray)

