/* --- WRAP & BOX ---- */
.wrap
  +outer-container

.panel-group
  margin-bottom: 1em
  border: $base-border
  .panel-header
    color: $dark
    background-color: lighten($dark, 55%)
    padding: 1em
  .panel-mid
    color: $dark
    background-color: $light
    padding: 1em

.panel-2
  +span-columns(2)
.panel-3
  +span-columns(3)
.panel-4
  +span-columns(4)
.panel-5
  +span-columns(5)
.panel-6
  +span-columns(6)
.panel-7
  +span-columns(7)
.panel-8
  +span-columns(8)
.panel-9
  +span-columns(9)
.panel-10
  +span-columns(10)

li.block-2
  +span-columns(6)
  +omega(2n)

li.block-3
  +span-columns(4)
  +omega(3n)

li.block-4
  +span-columns(3)
  +omega(4n)

li.block-6
  +span-columns(2)
  +omega(6n)

.narrow-container
  +span-columns(8)
  +shift(2)
  +clearfix

.panel-heading
  color: $light
  background-color: $red
  padding: 0.75em 2em
  font-size: 1em
  font-weight: normal
  display: inline-block

section
  padding: 2em 0
  overflow: hidden