$mobile: new-breakpoint(max-width 480px 4);

// demo for autoprefixer
:fullscreen a {
  display: flex
}

//
button {
  @include button(#ff0000);
}

// Demo for neat
.container {
  @include outer-container;

  .loginpanel {
    @include span-columns(6);
    @include shift(3);
    @include media(min-width 320px max-width 480px, 6) {
     @include span-columns(6);
     @include shift(0);
   }
  }

  .primary {
    @include span-columns(8);
    @include media($mobile) {
      background-color: gray;
    }
  }
  .secondary { @include span-columns(4); }
}

/*-------- GRID LAYOUT -------- */
