/* -- BRADING STUFF -----*/

//Lovely-transition
=lovely-transition
  transition: all $base-duration $base-timing

//Lovely labels
=lovely-label($lovely-label-color, $lovely-label-font-size)
  color: #fff
  background-color: $lovely-label-color
  font-size: $lovely-label-font-size
  padding: $lovely-label-font-size * 0.5 $lovely-label-font-size * 2
  display: inline-block



=link-color-fixer($color-fixer)
  a
    color: $color-fixer
    text-decoration: none
    transition: color $base-duration $base-timing
    &:active,
    &:focus,
    &:hover
      color: shade($color-fixer, 25%)


=primary-button($button-padding)
  display: inline-block
  color: #fff
  border-radius: $base-border-radius
  background-color: $action-color
  padding: $button-padding
  transition: background-color $base-duration $base-timing
  &:active,
  &:focus,
  &:hover
    background-color: shade($action-color, 25%)


=large-button($button-color)
  appearance: none
  background-color: $button-color
  border: 0
  border-radius: $base-border-radius
  color: #fff
  cursor: pointer
  display: inline-block
  font-family: $base-font-family
  font-size: $base-font-size
  -webkit-font-smoothing: antialiased
  // font-weight: 600;
  line-height: 1
  padding: $small-spacing $base-spacing * 1.5
  text-decoration: none
  transition: background-color $base-duration $base-timing
  user-select: none
  vertical-align: middle
  white-space: nowrap
  &:hover,
  &:focus
    background-color: shade($button-color, 20%)
    color: #fff
  &:disabled
    cursor: not-allowed
    opacity: 0.5
    &:hover
      background-color: $button-color

=large-button-outline($button-color)
  appearance: none
  border: $base-border-size solid $button-color
  border-radius: $base-border-radius
  color: $button-color
  cursor: pointer
  display: inline-block
  font-family: $base-font-family
  font-size: $base-font-size
  -webkit-font-smoothing: antialiased
  // font-weight: 600;
  line-height: 1
  padding: $small-spacing - $base-border-size $base-spacing * 1.5 - $base-border-size
  text-decoration: none
  transition: background-color $base-duration $base-timing
  user-select: none
  vertical-align: middle
  white-space: nowrap
  &:hover,
  &:focus
    color: shade($button-color, 20%)
  &:disabled
    cursor: not-allowed
    opacity: 0.5
    &:hover
      color: shade($button-color, 20%)
      // background-color: $button-color

=small-button($button-color)
  appearance: none
  background-color: $button-color
  border: 0
  border-radius: $base-border-radius
  color: #fff
  cursor: pointer
  display: inline-block
  font-family: $base-font-family
  font-size: $base-font-size
  -webkit-font-smoothing: antialiased
  line-height: 1
  padding: $small-spacing * 0.75 $base-spacing
  text-decoration: none
  transition: background-color $base-duration $base-timing
  user-select: none
  vertical-align: middle
  white-space: nowrap
  &:hover,
  &:focus
    background-color: shade($button-color, 20%)
    color: #fff
  &:disabled
    cursor: not-allowed
    opacity: 0.5
    &:hover
      background-color: $button-color

=small-button-outline($button-color)
  appearance: none
  border: $base-border-size solid $button-color
  border-radius: $base-border-radius
  color: $button-color
  cursor: pointer
  display: inline-block
  font-family: $base-font-family
  font-size: $base-font-size
  -webkit-font-smoothing: antialiased
  // font-weight: 600;
  line-height: 1
  padding: $small-spacing * 0.75 - $base-border-size $base-spacing - $base-border-size
  text-decoration: none
  transition: background-color $base-duration $base-timing
  user-select: none
  vertical-align: middle
  white-space: nowrap
  &:hover,
  &:focus
    color: shade($button-color, 20%)
  &:disabled
    cursor: not-allowed
    opacity: 0.5
    &:hover
      color: shade($button-color, 20%)
      // background-color: $button-color

