.sellform
  padding: 1em 0
  margin-bottom: 2em
  +span-columns(8)
  +shift(2)
  .panel
    .panel-title
      padding: 0.5em 1em
      font-size: 1.1em
      background-color: $dark
      color: $light
      label
        font-size: 0.825em
        color: $light-dark
    .panel-content
      +outer-container
      border: $base-border
      border-top: 0
      padding: 1em
      background-color: $light
      margin-bottom: 1em
      // 分类部分
      .main-category, .sub-category, .brand
        +span-columns(4)
        +omega(3n)
      .sub-category, .brand
        // display: none
      // 商品信息
      .price, .condition
        +span-columns(6)
        +omega(2n)
      //图片上传
      .mask
        text-align: center
        background-color: $light-dark
        padding: 1em
      //商品信息
      .input-tags
        span
          border: $base-border
          border-radius: 1000px
          padding: 0.2em 0.7em
          margin-right: 1em
          font-size: 0.825em
          &:hover
            border-color: $orange
          i
            margin-left: 0.2em
      //快递信息
      .city
        +span-columns(4)
      .address
        +span-columns(8)
        +omega()
      .shipping-methode
        .shipping-methode-radio-button
          span
            display: inline-block
            margin-right: 1em
        .note
          display: none
          font-size: 0.825em
          background-color: $light-dark
          padding: 1em
          margin-top: 1em
          width: 200px
          position: relative
          i
            font-size: 3em
            color: $light-dark
            position: absolute
            top: -23px
            left: 25px
      //店铺信息
      .shop-name
        +span-columns(6)
        span
          font-size: 0.825em
          opacity: 0.7
      .hint-panel
        +span-columns(6)
        padding: 1em
        background-color: $orange
        color: $light
  a.sell-preview
    +lovely-button($red, $light, $base-spacing * 0.5 $base-spacing * 1.5)


//Reset Dropzon styles
.dropzone
  border: 0
  padding: 0
  background: 0
  .dz-preview
    margin: 9px
    .dz-image
      width: 80px
      height: 80px
      border-radius: 0
    .dz-details
      .dz-size
        display: none
      .dz-filename
        display: none
    .dz-progress
      border-radius: 3px
      width: 70px
      height: 10px
      left: 5px
      right: 0
      margin: 0
      .dz-upload
        background: $orange
    .dz-error-message
      text-align: center
      background: $red
      font-size: 12px
      width: 100px
      padding: 5px
      top: -55px
      left: -10px
      border-radius: 0
      &:after
        top: 45px
        left: 45px
        border-top: 6px solid $red
        border-bottom: 0
    .dz-error-mark, .dz-success-mark
      top: 25px
      left: 25px
      margin: 0
      svg
        width: 35px
        height: 35px
    .dz-remove
      font-size: 12px
      margin-top: 10px
    .server_file_id
      display: none
