fieldset
  padding-top: 0 !important
  select
    height: 40px
    border-radius: $base-border-radius
    border: $base-border
    width: 100%

section.sellform
  padding: 1em 0
  +span-columns(8)
  fieldset
    border: $base-border
    .fieldset-label
      padding: 0.5em 1em
      background-color: $light-gray
      display: inline-block
      margin-bottom: 2em

section.sellhelper
  +span-columns(4)
  height: 400px

.formgroup
  +clearfix
  padding: 1em 0
  input#producttitle
    width: 50%
    float: left
    margin-right: 1em
  button#producttitle
    float: left
    height: em(44)
  .main-category, .sub-category, .brand,.price, .condition, .city,.shipping-methode
    +span-columns(4)
    select
      width: 90%
  .main-category, .sub-category, .brand,.price, .condition, .city,
    input
      width: 90%
  .address, .shipping-comment
    +span-columns(8)
    +clearfix

.carrier .note
  display: none
  margin-top: 1em
  max-width: 15em
  padding: 1em
  background-color: $light-gray
  position: relative
  i.fa.fa-caret-up
    color: $light-gray
    position: absolute
    top: -20px
    left: 24px
    font-size: 2em

.image-uploader
  padding: 2em
  background-color: $light-gray
  text-align: center
  height: 10em

.shipping-methode
  .shipping-methode-radio-button
    span
      display: block
      padding: 0.5em 0


a.sell-preview
  +lovely-button($red, $light, $base-padding)
  margin: 1em 0


/* Cancel Select 2 style */
.select2-container
  height: 3em
  .select2-dropdown--below
    border: $base-border
    border-color: lighten($action-color, 20%)
    border-top: 0

.select2-container--default
  .select2-selection--single
    border: 0
    .select2-selection__rendered
      color: $dark-gray
      line-height: 28px
      border: $base-border
      &:hover,
      &:focus
        border-color: lighten($action-color, 20%)
  .select2-search--dropdown
    .select2-search--dropdown
      border: $base-border !important
    .select2-search__field
      border: $base-border
      &:focus
        border-color: lighten($action-color, 20%)

  .select2-results__option--highlighted[aria-selected]
    background-color: $action-color
    color: #fff