$mobile: new-breakpoint(max-width 480px 4);

// demo for autoprefixer
:fullscreen a {
  display: flex
}

// Demo for neat
.container, .megamenu,.hero-wrapper,.bump{
  @include outer-container;

  .loginpanel {
    @include span-columns(6);
    @include shift(3);
    @include media(min-width 320px max-width 480px, 6) {
     @include span-columns(6);
     @include shift(0);
   }
  }

  .primary {
    @include span-columns(8);
    @include media($mobile) {
      background-color: gray;
    }
  }
  .secondary { @include span-columns(4); }
}



.hero-wrapper {
  margin-top: 20px;
  .hero {
    @include span-columns(4);
    height: 200px;
    background-color: $action-color;
  }
}



/*-------- GRID LAYOUT -------- */
.global-nav {
  @include outer-container;
  height: 40px;
  .social-icons {
    line-height: 20px;
    margin-top: 10px;
    color: #fff;
    float: right;
    a {
      color: #fff;
      font-size: 2em;
      &:hover{
        color: shade (#fff, 25%);
      }
    }
    ul {
      display: inline-block;
      li{
        float: left;
        color: #fff;
        font-size: 0.8em;
        margin:0 0 0 10px;
      }
    }
  }
}

.head {
  border:none;
}
.clearfix {clear:both;}

.megamenu{
  padding: 10px 0 0;
    ul li {
    float: left;
    padding:5px 20px;
    &:hover{
      background:$light-gray;
      .drop-down-menu{
        display: initial;
      }
    }
  }
  border-bottom: 4px solid $action-color;
}

.drop-down-menu {
  // display: none;
  ul li {
    float: left;
  }
  background: $light-gray;
  @include outer-container;
  .upper{
    @include outer-container;
    padding: 1em;
    .subcategory{
      padding-top: 2em;
      @include span-columns(9);
      ul li {
        width: calc(100% / 6);
        text-align: center;
      }
    }
    .menuad {
     position: relative;
     @include span-columns(3);
     .label{
      position: absolute;
      bottom: 10px;
      right: 0;
      background-color: rgba(0,0,0, 0.6);
      color:#fff;
      padding: 2px 5px;
     }
    }
  }

  .quicklink{
    padding: 0.5em 3em 0;
    background:#ddd;
    ul{
      width: 40%;
      display: inline-block;
      li {
        padding: 0.5em 1em 0.5em 0;
        font-size:0.875em;
        line-height: 0.5;
      }
    }

  }
}


/* Item Grid */
.container {
	label {
		background:$action-color;
    font-size: em(16, 14);
		font-weight: bold;
		padding:em(8) em(40);
		margin: em(20) 0;
		color:#fff;
		display: inline-block;
	}
	ul li.itemblock4 {
		font-size: em(14,16);
		min-height: em(385);
		border: 3px solid $light-gray;
		padding: 7px;
		@include span-columns(3);
		@include omega(4n);
		margin-bottom: em(20);
  		.thumbnail{
  			margin-bottom: em(10);
  		}
  		.userface {
  			width: 3em;
  			border-radius:1000px;
  			display: inline-block;
  			float: left;
  			margin-right: 1em;
  		}
  		.username {
			line-height: 3.9;
		    display: table-cell;
		    vertical-align: middle;
		    float: left;
  		}
  		.prdtitle{
  			padding:em(20) 0 em(10) 0;
  		}
  		.price {
  			font-size:em(20, 14);
  			color:$red;
  			span{
  				font-size: 0.7em;
  				color:$medium-gray;
  			}
  		}
  		.location i {
  			margin-right: em(5);
  		}
  		.condition {
  			float: right;
  		}
	}
  ul li.itemblock6{
    background-color: #ddd;
    height: 60px;
    overflow: hidden;
    @include span-columns(2);
    @include omega(6n);
    margin-bottom: em(20);
  }
  ul li.itemblock2{
    @include span-columns(6);
    @include omega(2n);
    margin-bottom: em(20);
    .userface {
      width: em(80);
      height: em(80);
      border-radius: 10000px;
      background-color: $red;
      float: left;
      margin: 0 em(20) em(20) 0;
    }
    .article {
      border: 3px solid $light-gray;
      padding: 10px;
      display: inline-block;
      width: calc(100% - 110px);
      float: left;
      .title{
        font-size: 1.15em;
      }
      .blurb {

      }
    }
  }
}

.container {
   @include outer-container;
   .whyus{
    @include span-columns(3);
   }
   .benifit{
    padding: em(15);
    background-color: #fff;
    @include span-columns(3);
    .icon{
      background-color: $red;
      color: #fff;
      text-align: center;
      font-size: 2em;
      width: 2em;
      height: 2em;
      border-radius: 10000px;
      line-height: 2em;
      float: left;
      margin-right: 10px;
      margin-bottom: 20px;
    }
    .title{
      font-size: 1.2em;
      font-weight: bold;
      float: left;
      width: calc(100% - 60px;);
      span {
        font-size: 0.75em;
        font-weight: normal;
      }
    }
    .blurb{
      font-size: em(12,14);
    }
   }
}
